body{
	background: linear-gradient(to bottom right,white,#142176)
}
.header1{
	
	position:fixed;
	width:100%;
	height:100px;
	top:0;
	left:0;
	color:green;
	z-index:7;
	font-family:verdana;
	-webkit-box-shadow:10px 7px 8px rgba(0,0,0,.25);
}
.header{
	
	position:fixed;
	width:100%;
	height:100px;
	top:0;
	left:0;
	color:white;
	z-index:7;
	font-family:verdana;
	background:#0D1A69;
}
#form1{
	left:700px;
	top:20px;
	height:60px;
	width:180px;
}
#form2{
left:895px;
top:20px;
height:60px;
width:200px;
	
}
.submit1{
	left:990px;
	top:39px;
	background:white;
	color:#142170;
	z-index:20;
	height:22px;
	width:50px;
	cursor:pointer;
}
.body1{
	position:absolute;
	left:0;
	top:100px;
	width:100%;
	height:645px;
background:blue;}

#intro1{
	
top:40px;
left:700px;
font-family:verdana;
font-size:50px;
color:#142170;
width:500px;
height:60px;	
}
#intro2
{
top:100px;
left:700px;
font-size:20px;
color:#142170;
height:50px;
width:300px;
}	
#form3{
	top:150px;
	left:700px;
	color:#142170;
	font-size:15px;
	font-family:verdana;
	width:300px;
	height:350px;
	background:blue;
	}
	#namebox{width:400px;
	height:33px;
	background:white;
	border-radius:10px;
	padding:10px;
	font-size:20px;
		}
	
	#mailbox{width:300px;
	height:30px;
	background:white;
	border-radius:10px;
	padding:10px;
	font-size:15px;
		}
		.button2{
			width:100px;
			height:50px;
			left:700px;
		margin-right:625px;
			font-size:20px;
			border-radius:15px;
			cursor:pointer;
			outline:none;
			}

